h1 {
    text-align: center;
    font-size: 70px;
    font-family: monospace;
    color: #dfaf5e;
    background-color: #6d152b;
}
#para1 {
    text-align: center;
    font-size: 1.5cm;
    font-family: monospace;
    color:#61714d;
    line-height: 5px;
}
img {
    width: 400px;
    height: 500px;
}
.one {
    text-align: center;
    font-family: monospace;
    font-size: 0.7cm;
    color: #000;
}
.two {
    text-align: center;
    font-family: monospace;
    font-size: 0.7cm;
    color: #000;
}