h1 {
    text-align: center;
    font-size: 70px;
    font-family: monospace;
    color: #dfaf5e;
    background-color: #6d152b;
}
#para1 {
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    color:#61714d;
    line-height: 5px;
}
#para2 {
    text-align: center;
    font-size: 40px;
    font-family:monospace ;
    color: #61714d;
    line-height: 5px;
}
#para3 {
    text-align: center;
    font-size: 30px;
    font-family:monospace ;
    color: #8fae93;
}
h2 {
    text-align: left;
    font-size: 30px;
    font-family: monospace;
    color: #6d152b;
    background-color: #dfaf5e;
}
ul {
    text-align: left;
    font-size: 20px;
    font-family:monospace;
    color: #61714d; 
    
}