body {
    background-color: #dfebeb;
}
h1 {
    text-align: center;
    font-size: 2cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f1f7b5;
    background-color: #9ea1d4;
}
#para1 {
    text-align: center;
    font-size: 1.5cm;
    font-family: fantasy;
    color:#fd8a8a;
    line-height: 5px;
}
#para2 {
    text-align: center;
    font-size: 1cm;
    font-family:monospace ;
    color: #fd8a8a;
    line-height: 5px;
}
#para3 {
    text-align: center;
    font-size: 0.5cm;
    font-family:monospace ;
    color: #fd8a8a;
}
h2 {
    text-align: left;
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    background-color: #a8d1d1;
}
ul {
    text-align: left;
    font-size: 0.5cm;
    font-family:monospace;
    color: #9ea1d4; 
    
}